<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!--init-method  lazy-init 一个bean节点最终映射到一个BeanDefinitionHolder上 -->
    <bean id="employee" class="com.java.code.entity.Employee" lazy-init="false" init-method="initMethod">
        <property name="id" value="1"/>
        <property name="name" value="test"/>
    </bean>

    <bean id="myAdvisor" class="com.java.code.aop.MyAdvisor"/>
    <bean id="myAopService" class="com.java.code.aop.MyAopServiceImpl"/>
    <!--ProxyFactoryBean 里面包装了被代理的实例，以及被代理实例所实现的接口，还有advisor集合，因为可以有多个切面 -->
    <bean id="myAdvisedService" class="org.springframework.aop.framework.ProxyFactoryBean">

        <property name="proxyInterfaces">
            <value>com.java.code.aop.MyAopService</value>
        </property>

        <property name="interceptorNames">
            <list>
                <value>myAdvisor</value>
            </list>
        </property>

        <property name="target">
            <ref bean="myAopService"/>
        </property>

    </bean>
</beans>