<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!--init-method  lazy-init-->
    <bean id="employee" class="com.java.code.entity.Employee" lazy-init="false" init-method="initMethod">
        <property name="id"  value = "1" />
        <property name="name"  value="test" />
    </bean>

</beans>