<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.manjaro.code.mapper.PopuBaseMapper">
    <!--auto generated Code-->
    <resultMap id="AllColumnMap" type="com.manjaro.json.jackson.entity.PopuBase">
        <result column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="sex" property="sex"/>
        <result column="id_no" property="idNo"/>
        <result column="nation" property="nation"/>
        <result column="phone" property="phone"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
    </resultMap>

    <!--auto generated Code-->
    <sql id="all_column">
        `id`,
        `name`,
        `sex`,
        `id_no`,
        `nation`,
        `phone`,
        `create_time`,
        `update_time`
    </sql>

    <!--auto generated Code-->
    <insert id="insert" useGeneratedKeys="true" keyProperty="pojo.id">
        INSERT INTO popu_base (
            `id`,
            `name`,
            `sex`,
            `id_no`,
            `nation`,
            `phone`,
            `create_time1`,
            `update_time1`
        ) VALUES (
            #{pojo.id},
            #{pojo.name},
            #{pojo.sex},
            #{pojo.idNo},
            #{pojo.nation},
            #{pojo.phone},
            #{pojo.createTime},
            #{pojo.updateTime}
        )
    </insert>

    <!--auto generated Code-->
    <insert id="insertSelective" useGeneratedKeys="true" keyProperty="pojo.id">
        INSERT INTO popu_base
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="pojo.id!=null"> `id`,</if>
            <if test="pojo.name!=null"> `name`,</if>
            <if test="pojo.sex!=null"> `sex`,</if>
            <if test="pojo.idNo!=null"> `id_no`,</if>
            <if test="pojo.nation!=null"> `nation`,</if>
            <if test="pojo.phone!=null"> `phone`,</if>
            <if test="pojo.createTime!=null"> `create_time`,</if>
            <if test="pojo.updateTime!=null"> `update_time`,</if>
        </trim>
        VALUES
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="pojo.id!=null">#{pojo.id},</if>
            <if test="pojo.name!=null">#{pojo.name},</if>
            <if test="pojo.sex!=null">#{pojo.sex},</if>
            <if test="pojo.idNo!=null">#{pojo.idNo},</if>
            <if test="pojo.nation!=null">#{pojo.nation},</if>
            <if test="pojo.phone!=null">#{pojo.phone},</if>
            <if test="pojo.createTime!=null">#{pojo.createTime},</if>
            <if test="pojo.updateTime!=null">#{pojo.updateTime},</if>
        </trim>
    </insert>

    <!--auto generated Code-->
    <insert id="insertList">
        INSERT INTO popu_base (
        <include refid="all_column"/>
        )VALUES
        <foreach collection="pojos" item="pojo" index="index" separator=",">
            (
            #{pojo.id},
            #{pojo.name},
            #{pojo.sex},
            #{pojo.idNo},
            #{pojo.nation},
            #{pojo.phone},
            #{pojo.createTime},
            #{pojo.updateTime}
            )
        </foreach>
    </insert>

    <!--auto generated Code-->
    <update id="update">
        UPDATE popu_base
        <set>
            <if test="pojo.id != null"> `id` = #{pojo.id}, </if>
            <if test="pojo.name != null"> `name` = #{pojo.name}, </if>
            <if test="pojo.sex != null"> `sex` = #{pojo.sex}, </if>
            <if test="pojo.idNo != null"> `id_no` = #{pojo.idNo}, </if>
            <if test="pojo.nation != null"> `nation` = #{pojo.nation}, </if>
            <if test="pojo.phone != null"> `phone` = #{pojo.phone}, </if>
            <if test="pojo.createTime != null"> `create_time` = #{pojo.createTime}, </if>
            <if test="pojo.updateTime != null"> `update_time` = #{pojo.updateTime} </if>
        </set>
        WHERE id = #{pojo.id}
    </update>
</mapper>

